* {
  margin: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.col {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.left {
  align-items: flex-start;
  padding: 2rem;
}

.right {
  align-items: flex-end;
  padding: 2rem;
}
