body {
  margin: 0;
  font-family: sans-serif;
}

.heading {
  margin: 2rem;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 100%;
  text-align: center;
}

h1 {
  display: inline-block;
}

.currentLetter {
  border-bottom: 2px solid black;
}

.green {
  color: green;
}

.red {
  color: red;
}

.wrongLetter {
  border-bottom: 2px solid red;
}
