.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p,
span,
a,
button {
  font-family: "Avenir", sans-serif;
}

h2 {
  font-family: "Tiempos Headline", serif;
  font-weight: 300;
  color: #6f6f6f;
}

h3 {
  font-family: "Avenir", sans-serif;
  font-weight: 300;
  color: #a8a8a8;
}

.row {
  display: flex;
  width: 85%;
}

.nav-bar {
  justify-content: space-between;
}

.white-logo {
  width: 15%;
}

.navList {
  display: flex;
  align-items: center;
}

li {
  list-style: none;
  padding: 0.5rem 1rem;
}

a {
  text-decoration: none;
  font-size: 0.8rem;
  color: #a8a8a8;
}

.bttn {
  border: 1px solid #294464;
  background-color: #294464;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

.bttn a {
  color: #bdc5cf;
}

hr {
  margin-top: 0;
  margin-bottom: 3rem;
  width: 95%;
}

.main-statement {
  position: relative;
  width: 90%;
  background: black;
  height: 25rem;
  color: white;
}

.main-statement::after {
  content: '';
  position: absolute;
  opacity: 0.8;
  background-image: url("images/product/product-header.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100%;
}

.main-statement h1,
.main-statement p {
  z-index: 2;
}

.col-half {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
}

.main-desc {
  margin: 3rem;
}

.main-desc h1 {
  margin-bottom: 0.5rem;
}

.main-desc p {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  line-height: 1.5rem;
}

.features {
  width: 95%;
  background-color: #fafafa;
  margin-top: 2.5rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col-55 {
  width: 50%;
}

.features img {
  margin: 2rem;
  width: 100%;
}

.col-45 {
  width: 40%;
}
