.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p,
span,
a,
button {
  font-family: "Avenir", sans-serif;
}

h2 {
  font-family: "Tiempos Headline", serif;
  font-weight: 300;
  color: #6f6f6f;
}

h3 {
  font-family: "Avenir", sans-serif;
  font-weight: 300;
  color: #a8a8a8;
}

.row {
  display: flex;
  width: 100%;
}

.main-statement {
  position: relative;
  width: 85%;
  background: black;
  height: 25rem;
  color: white;
  margin-bottom: 2.5rem;
  margin-top: 3rem;
}

.main-statement::after {
  content: '';
  position: absolute;
  opacity: 0.8;
  background-image: url("images/product/product-header.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100%;
}

.main-statement h1,
.main-statement p {
  z-index: 2;
}

.col-half {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
}

.main-desc {
  margin: 3rem;
}

.main-desc h1 {
  margin-bottom: 0.5rem;
}

.main-desc p {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  line-height: 1.5rem;
}

.feature-container {
  flex-wrap: wrap;
  justify-content: center;
  width: 95%;
}

.features {
  width: 100%;
  background-color: #fafafa;
  padding: 1rem;
  justify-content: space-around;
}

.col-50 {
  width: 50%;
}

.image-feature {
  display: flex;
  align-items: center;
}

.features img {
  /* margin: 2rem; */
  width: 100%;
}

.col-40 {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.col-40 p,
q,
figcaption {
  font-size: 0.8rem;
  line-height: 1rem;
}

q {
  font-style: italic;
  margin: 1rem;
}

.features:nth-of-type(2n) {
  background-color: white;
}
